@model MVC_Dropdown.Models.Customer
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Create";
}

<h2>Create a Registration Form</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <div class="form-horizontal">

            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <div>
                    <b> @Html.LabelFor(model => model.Gender)</b>
                    <br />
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    <label>Male</label>
                    <br />
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                    <label>Female</label>
                    <br />
                    @Html.RadioButtonFor(model => model.Gender, "Other")
                    <label>Other</label>
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Course)
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Course, new SelectList(ViewBag.Courses), "Select Course", htmlAttributes: new { @class = "form-control control-label col-md-3" })
                    @Html.ValidationMessageFor(model => model.Course)
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
